*{
    margin: 0;
    padding: 0;
}

.texto-menor{
    font-size: 1em;
}

.cor-verde{
    color: #DAFF01;
}

.cor-lilas{
    background-color: #9353FF;
    color: white;
}

.posicao{
    top: 40%;
}

@media (max-width: 767px) {
    .posicao{
        top: 60%;
    }
    
}
